<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a routerLink="/usuario">
      <img class="brand-logo" src="assets/logoH.png" alt="logo" height="70" />
    </a>

    <div>
      <button class="btn btn-outline-primary me-2" [routerLink]="['/']" routerLinkActive="router-link-active">
        Reservar
      </button>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header text-center">
          <h4>Formulario de Reserva</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="enviarReserva()">
            <div class="mb-3">
              <label for="lugar" class="form-label">Lugar:</label>
              <select [(ngModel)]="lugarId" name="lugar" id="lugar" class="form-select" (change)="cargarHoteles()">
                <option *ngFor="let lugar of lugares" [value]="lugar.id">{{ lugar.nombre }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="hotel" class="form-label">Hotel:</label>
              <select [(ngModel)]="hotelId" name="hotel" id="hotel" class="form-select" (change)="cargarHabitaciones()">
                <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{ hotel.nombre }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="habitacion" class="form-label">Tipo de habitación:</label>
              <select [(ngModel)]="tipoHabitacionId" name="habitacion" id="habitacion" class="form-select">
                <option *ngFor="let tipo of tiposHabitacion" [value]="tipo.id">{{ tipo.nombre }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="numHabitacion" class="form-label">Número de habitación:</label>
              <select [(ngModel)]="habitacionId" name="numHabitacion" id="numHabitacion" class="form-select" (change)="actualizarPrecio()">
                <option *ngFor="let habitacion of habitaciones" [value]="habitacion.id">{{ habitacion.numero_habitacion }}</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Precio de la habitación:</label>
              <input type="text" class="form-control" [value]="'$' + precioHabitacion" readonly>
            </div>

            <div class="mb-3">
              <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
              <input type="date" [(ngModel)]="fechaInicio" name="fechaInicio" id="fechaInicio" class="form-control">
            </div>

            <div class="mb-3">
              <label for="fechaFin" class="form-label">Fecha de fin:</label>
              <input type="date" [(ngModel)]="fechaFin" name="fechaFin" id="fechaFin" class="form-control">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Reservar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
