<app-navusuario></app-navusuario>
<div class="container mt-2">
  <div class="row m-5">
    <form class="d-flex" (submit)="buscar($event)">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar hotel"
        aria-label="Buscar"
        [(ngModel)]="textoBusqueda"
        name="busqueda"
      />
      <button class="btn btn-outline-primary me-2" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <!-- Iteramos sobre hoteles para mostrar los cards horizontalmente -->
    <div class="col-md-4 mb-3" *ngFor="let hotel of hotelesFiltrados">
      <div class="card shadow-sm">
        <img
          [src]="hotel.imagen || 'assets/default-hotel.jpg'"
          alt="Hotel"
          class="card-img-top"
          height="200"
        />
        <div class="card-body">
          <h5 class="card-title">{{ hotel.nombre }}</h5>
          <p><i class="bi bi-geo-alt"></i> {{ hotel.descripcion }}</p>
          <p>{{ hotel.direccion }}</p>
          <p>{{ hotel.telefono }}</p>
          <p>{{ hotel.estrellas }} ★</p>
          <a [routerLink]="['/details', hotel.id]" class="btn btn-primary w-100"
            >Más información</a
          >
        </div>
      </div>
    </div>
  </div>

  .

  <!-- Si no hay hoteles, mostrar mensaje -->
  <ng-template #noHoteles>
    <p class="text-center text-muted">No hay hoteles disponibles.</p>
  </ng-template>
</div>
