<main>
  <nav class="navbar custom-navbar">
    <div
      class="container-fluid d-flex justify-content-between align-items-center py-2"
    >
      <div class="d-flex align-items-center">
        <a routerLink="/admin" class="d-flex align-items-center">
          <img class="brand-logo me-3" src="assets/logoH.png" alt="logo" />
        </a>
        <a routerLink="/tipoHabitaciones" class="nav-link custom-link"
          >Habitación</a
        >
        <a routerLink="/gestionReservaciones" class="nav-link custom-link ms-3"
          >Reservaciones</a
        >
      </div>

      <div>
        <button
          class="btn btn-outline-danger"
          routerLinkActive="router-link-active"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
      
  </nav>
</main>
