<main>
  <nav class="navbar navbar-light bg-light">
    <div
      class="container-fluid d-flex justify-content-between align-items-center"
    >
      <a routerLink="/">
        <img class="brand-logo" src="assets/logo.svg" alt="logo" />
      </a>

      <ul>
        <li *ngFor="let lugar of lugaresFiltrados">
          {{ lugar.nombre }} - {{ lugar.ubicacion }}
        </li>
      </ul>

      <div>
        <button
          class="btn btn-outline-danger me-2"
          routerLinkActive="router-link-active"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
  </nav>
</main>
