<!-- usuario.component.html -->
<div class="formulario-reserva">
  <form (ngSubmit)="enviarReserva()">
    <label for="lugar">Lugar:</label>
    <select [(ngModel)]="lugarId" name="lugar" id="lugar" (change)="cargarHoteles()">
      <option *ngFor="let lugar of lugares" [value]="lugar.id">{{ lugar.nombre }}</option>
    </select>

    <label for="hotel">Hotel:</label>
    <select [(ngModel)]="hotelId" name="hotel" id="hotel" (change)="cargarHabitaciones()">
      <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{ hotel.nombre }}</option>
    </select>

    <label for="habitacion">Tipo de habitación:</label>
    <select [(ngModel)]="tipoHabitacionId" name="habitacion" id="habitacion">
      <option *ngFor="let tipo of tiposHabitacion" [value]="tipo.id">{{ tipo.nombre }}</option>
    </select>

    <label for="numHabitacion">Número de habitación:</label>
    <select [(ngModel)]="habitacionId" name="numHabitacion" id="numHabitacion">
      <option *ngFor="let habitacion of habitaciones" [value]="habitacion.id">{{ habitacion.numero_habitacion }}</option>
    </select>

    <button type="submit">Reservar</button>
  </form>
</div>
