.inicio-img {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: center; /* Asegurar que el texto esté alineado al centro */
  width: 100%;
  height: 500px;
  background: #4e62bc;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.78),
      rgba(0, 0, 0, 0.023)
    ),
    url(/assets/img-hotel.jpg);

  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.textos-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Animación para los lugares filtrados */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación a cada lugar */
.card {
  animation: fadeIn 0.6s ease-out;
}
