<div class="container mt-4">
  <div class="row">
    <!-- Tarjeta 1 -->
    <div class="col-md-4" *ngFor="let lugar of lugares">
      <div class="card shadow-sm">
        <img [src]="lugar.imagen" alt="lugar" height="200" />
        <div class="card-body">
          <h5 class="card-title">{{ lugar.nombre }}</h5>
          <!-- <p class="text-muted">
            9.2 - Excelente <span class="small">(1417)</span>
          </p> -->
          <p><i class="bi bi-geo-alt"></i> {{ lugar.descripcion }}</p>
          <p>
            {{ lugar.ubicacion }}
          </p>
          <a href="#" class="btn btn-primary w-100">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>
