<nav class="navbar navbar-light bg-light">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <a [routerLink]="['/']">
      <img class="brand-logo" src="assets/logoH.png" alt="logo" height="50" />
    </a>

    <div>
      <!-- Si el usuario no está autenticado, muestra estos botones -->
      <ng-container *ngIf="!isAuthenticated">
        <button
          class="btn btn-outline-primary me-2"
          [routerLink]="['/login']"
          routerLinkActive="router-link-active"
        >
          Iniciar sesión
        </button>
      </ng-container>

      <!-- Si el usuario está autenticado, muestra estos botones -->
      <ng-container *ngIf="isAuthenticated">
        <button
          class="btn btn-outline-primary me-2"
          [routerLink]="['/misreservas']"
          routerLinkActive="router-link-active"
        >
          Mis reservaciones
        </button>
        <button
          class="btn btn-outline-danger me-2"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </ng-container>
    </div>
  </div>
</nav>
